<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- TODO material design 3自适应颜色图标 https://blog.csdn.net/minping9101/article/details/129436383 -->
    <application
        android:name=".HikariApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Hikari Novel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.HikariNovel"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl">

        <activity
            android:name=".ui.view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.view.splash.LoginActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".ui.view.main.main.more.more.account.AccountActivity"/>

        <activity android:name=".ui.view.main.main.more.more.about.AboutActivity"/>

        <activity
            android:name=".ui.view.main.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".ui.view.detail.NovelInfoActivity"/>

        <activity android:name=".ui.view.other.CrashActivity"/>

        <activity android:name=".ui.view.detail.comment.CommentActivity"/>

        <activity android:name=".ui.view.main.main.more.more.setting.SettingActivity" />

        <activity android:name=".ui.view.other.PhotoViewActivity"/>

        <activity android:name=".ui.view.main.main.home.search.SearchActivity"/>

        <activity android:name=".ui.view.read.vertical.ReadActivity"/>

        <activity android:name=".ui.view.read.horizontal.ReadActivity"/>

        <activity android:name=".ui.view.read.SelectColorActivity"/>

    </application>

</manifest>