<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".HikariApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/soft_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.HikariNovel"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl">

        <activity
            android:name=".ui.view.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.view.splash.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.main.more.more.account.AccountActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.main.more.more.about.AboutActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.main.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.detail.NovelInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.other.CrashActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.detail.comment.CommentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.main.more.more.setting.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.other.PhotoViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.main.home.search.SearchActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.read.vertical.ReadActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.read.horizontal.ReadActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.read.SelectColorActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>